body{
    background-color: rgb(12, 230, 238);
}
.puntaje{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: rgb(198,198,198);
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella.svg");
    mask-image: url("../img/estrella.svg");
}
.item.select{
    background-color: rgb(111, 31, 122);
}